<div class="global-title">
    <div class="global-darken"></div>
    <div class="global-img"></div>
    <h1>Пошук</h1>
</div>

<div class="search-form-wrapper">
    <%= form_for :search, url:searchPost_path, :method => 'get', html: {class: 'search-form', autocomplete: 'off'} do |f|%>
        <h1>Пошук на Lavi</h1>
        <div class="search-inputs-wrapper">
            <div class="range-inputs">
                <div class="form-input-wrapper" style="margin-top: 35px">
                    <i class="fas fa-dollar-sign form-input-icon"></i>
                    <p class="input-label">Ціна від</p>
                    <%= f.text_field :priceFrom, class: 'form-input search-input price-input', value: @priceFrom%>
                </div>
                <div class="form-input-wrapper" style="margin-top: 35px">
                    <i class="fas fa-dollar-sign form-input-icon"></i>
                    <p class="input-label">Ціна до</p>
                    <%= f.text_field :priceTo, class: 'form-input search-input price-input', value: @priceTo%>
                </div>
            </div>
            <div class="range-inputs">
                <div class="form-input-wrapper" style="margin-top: 35px">
                    <span class="form-input-icon">м²</span>
                    <p class="input-label">Площа від</p>
                    <%= f.text_field :squareFrom, class: 'form-input search-input price-input', value: @squareFrom%>
                </div>
                <div class="form-input-wrapper" style="margin-top: 35px">
                    <span class="form-input-icon">м²</span>
                    <p class="input-label">Площа до</p>
                    <%= f.text_field :squareTo, class: 'form-input search-input price-input', value: @squareTo%>
                </div>
            </div>

            <div class="form-input-wrapper" style="margin-top: 35px">
                <p class="input-label">Місто</p>
                <%= f.text_field :city, class: 'form-input search-input city-input', value: @search_obj.city%>
            </div>
        </div>

        
        <div class="checkboxes-wrapper" style="margin-top: 25px">
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">Оренда
                                <%= check_box_tag "search[category][]",  "Оренда" ,false, options = {class: 'rent-input checkbox-input category-input', checked: @search_obj.category.to_s.gsub(/[\[\]\"]/,"") == "Оренда"}%>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">Продаж
                                <%= check_box_tag "search[category][]" , "Продаж" ,false, options = {class: 'sell-input checkbox-input category-input', checked: @search_obj.category.to_s.gsub(/[\[\]\"]/,"") == "Продаж"}%>
                                <span class="checkmark"></span>
                            </label>
                        </div>
        </div>

        <hr style="width: 20px; height: 3px; background-color: #000; border: none; margin: 30px 0 15px 0">

        <div class="type-wrapper">
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">Квартира
                                <%= check_box_tag "search[flat_type][]",  "Квартира" ,false, options = {class: 'rent-input checkbox-input type-input', checked: @search_obj.flat_type.to_s.gsub(/[\[\]\"]/,"")  == "Квартира"}%>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">Будинок
                                <%= check_box_tag "search[flat_type][]",  "Будинок" ,false, options = {class: 'sell-input checkbox-input type-input', checked: @search_obj.flat_type.to_s.gsub(/[\[\]\"]/,"")  == "Будинок"}%>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">Земельна ділянка
                                <%= check_box_tag "search[flat_type][]",  "Земельна ділянка" ,false, options = {class: 'sell-input checkbox-input type-input', checked: @search_obj.flat_type.to_s.gsub(/[\[\]\"]/,"")  == "Земельна ділянка"}%>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label class="checkbox-label">Комерційна нерухомість
                                <%= check_box_tag "search[flat_type][]",  "Комерційна нерухомість" ,false, options = {class: 'sell-input checkbox-input type-input', checked: @search_obj.flat_type.to_s.gsub(/[\[\]\"]/,"") == "Комерційна нерухомість"}%>
                                <span class="checkmark"></span>
                            </label>
                        </div>
        </div> 
        <%= f.submit  "Шукати", :class => 'form-btn search-btn' %>
    <%end%>

    <div class="search-image">
        <%= image_tag  "landing.jpg" %>
        <div class="search-image-gray-block"></div>
    </div>
</div>

    <div class="container">
        <h2 class="results-title">Результати</h2>
    </div>

   <div class="container suggestions-wrapper">

    <% if @suggestions.empty?%>
        <div class="suggestion-item">
            <div class='empty-image'></div>
            <p>Категорія: <span class='empty-text'></span></p>
            <p>Тип: <span class='empty-text'></span></p>
            <p>Ціна: <span class='empty-text'></span></p>
            <p>Площа: <span class='empty-text'></span></p>
            <p>Місто: <span class='empty-text'></span></p>
            <p>Вулиця: <span class='empty-text'></span></p>
        </div>
    <%else%>
        <% @suggestions.each do |suggestion| %>
            <div class="suggestion-item">
                <%= link_to raw("
                
                    #{image_tag(suggestion.image1) if suggestion.image1.attached?}
                    <div class='empty-image-darken'></div>
                    <h1>Переглянути</h1>

                "), suggestion ,class: "empty-image"%>
                <p>Категорія: <span class="object-data-span"><%= suggestion.category%></span></p>
                <p>Тип: <span class="object-data-span"><%= suggestion.flat_type%></span></p>
                <p>Ціна: <span class="object-data-span"><%= suggestion.price%></span></p>
                <p>Площа:  <span class="object-data-span"><%= suggestion.square%></span></p>
                <p>Місто:  <span class="object-data-span"><%= suggestion.city%></span></p>
            </div>
        <%end%>
    <%end%>
    </div>